<div style="text-align:center">
    <div>
    <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam" (initError)="handleInitError($event)"></webcam>
    <br/>
    </div>
    </div>
    <h4 *ngIf="errors.length > 0">Messages:</h4>
    <ul *ngFor="let error of errors">
    <li>{{error | json}}</li>
    </ul>
    <div class="snapshot" *ngIf="imageCapture">
        <h3 class="title-heading">Latest captured image.</h3>
        <img class="captured-image" [src]="imageCapture" />
    </div>