#login-user-details {
    width: 100%;
    height: 664px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#login-form {
    margin: 0% auto;
    width: 250px;
}
.login-form{
    text-align: center;;
}
#page-title{
    margin: 20px 0px;
}
#line-1{
    line-height: 116.5%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
    font-weight: 500;
    font-size: 15px;
}
.login-button{
    background-color: cornflowerblue;
    padding: 5px;
}

.login-btn {
    margin-top: 20px!important;
    text-align: center;
    cursor: pointer;
}